<!-- Simple implementation -->
<!-- https://juristr.com/blog/2016/02/learning-ng2-creating-tab-component/ -->
<tabs [width]="'60px'" [height]="'60px'">
  <tab title="999K" [subtitle]="'Delivered'">
    Content of tab 1
  </tab>
  <tab title="+1m" [subtitle]="'Shipped'">
    Content of tab 2
  </tab>
  <tab title="40k" [subtitle]="'Shipped'">
    Content of tab 3
  </tab>
  <tab title="1k" [subtitle]="'Shipped'">
    Content of tab 4
  </tab>
  <tab title="974" [subtitle]="'Shipped'">
    Content of tab 5
  </tab>
</tabs>

<!-- Complex implementation -->
<!-- https://javascript.plainenglish.io/create-a-fully-dynamic-tab-component-in-angular-9f5187ab35dc -->
<!-- <tab-complex>
  <tab-item-complex>
    <tab-label-complex>First tab</tab-label-complex>
    <tab-body-complex>
      IO am first content
    </tab-body-complex>
  </tab-item-complex>
  <tab-item-complex>
    <tab-label-complex>Second tab</tab-label-complex>
    <tab-body-complex>
      IO am second content
    </tab-body-complex>
  </tab-item-complex>
  <tab-item-complex>
    <tab-label-complex>Third tab</tab-label-complex>
    <tab-body-complex>
      IO am third content
    </tab-body-complex>
  </tab-item-complex>
</tab-complex> -->